parameters:
    # userprovider param
    lc_studios_ldap_user_provider.inactive_key_value: shadowflag=1
    # class parameters
    lc_studios_ldap.user_provider.class: lc_studios\LdapBundle\Security\User\LdapUserProvider
    lc_studios_ldap.authentication_provider.class: lc_studios\LdapBundle\Security\Authentication\Provider\LdapAuthenticationProvider
    security.user_checker.class: Symfony\Component\Security\Core\User\UserChecker
    lc_studios_ldap.ldap.class: lc_studios\LdapBundle\Security\Ldap\Ldap

services:
    security.user_checker:
        class: %security.user_checker.class%

    lc_studios_ldap_user_provider:
        class: %lc_studios_ldap.user_provider.class%
        arguments: [@lc_studios_ldap.ldap, %lc_studios_ldap_user_provider.inactive_key_value%]

    lc_studios_ldap.security.authentication.provider:
        class: %lc_studios_ldap.authentication_provider.class%
        arguments: ['', @security.user_checker , '', %security.authentication.hide_user_not_found% ]

    lc_studios_ldap.ldap:
        class: %lc_studios_ldap.ldap.class%
        arguments: [%lc_studios_ldap.host%, %lc_studios_ldap.port%, %lc_studios_ldap.uid%, %lc_studios_ldap.base_dn%, %lc_studios_ldap.authenticated_role%, %lc_studios_ldap.bind_user.dn%, %lc_studios_ldap.bind_user.password%]
